* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	display: flex;
    justify-content: space-between;
    margin: 20px 20px;
}

.container {
    display: flex;
    padding-left: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-grow: 1;
    border: 1px solid black;
    justify-self: center;
    align-self: center
}

.container:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
